$mainCol:#333333;
$darkCol1b:#1b1b1b;
$leCole:#eeeeee;
$leCol9:#999999;
$leCol6:#666666;
$leColfa:#fafafa;
$redCol:#f22d07;
$bgWhite:#ffffff;
$bodyCol:#f5f5f5;
$topHeight:1.17rem;

.order-detail-page{
	color:$mainCol;
	background:$bgWhite;
	padding-bottom:0.3rem;	
	.order-type{
		width: 100%;
		height: 2.4rem;
		background:url(../image/order-bg.jpg) no-repeat;
		background-size:100% 100%;
    	-webkit-background-size:100% 100%;
    	padding:0 0.32rem;    	
    	section{
    		position: relative;
			z-index: 5;
    		&:after{
    			content: "";
    			display: block;
    			clear: both;
    			font-size: 0;
    		}
    	}
		span{
			font-size:0.37rem;
			color: $bgWhite;
			display: inline-block;
			p{
				display: block;
				line-height: 1.8;
				margin-top: 0.54rem;
			}
		}
		label{
			display: inline-block;
			position: absolute;
			right: 0;
			top: 0.55rem;
			i{
				background:$bgWhite;
				border-radius: 50rem;
				display: table-cell;
				text-align: center;
				width: 1.33rem;
				height: 1.33rem;
				vertical-align: middle;
				u{
					width: 0.83rem;
					height: 0.83rem;
					display: inline-block;				
				}
			}
		}		
		.success{
			u{
				background-position: 0 -3.02rem;
			}
		}
		.paying{
			u{
				background-position: -0.88rem -3.02rem;
			}
		}
		.sending{
			u{
				background-position: -1.76rem -3.02rem;
			}
		}
		.sended{
			u{
				background-position: -2.53rem -3.02rem;
			}
		}
		.closed{
			u{
				background-position: -3.57rem -3.02rem;
			}
		}
		.taking{
			u{
				background-position: -4.45rem -3.02rem;
			}
		}
		.refund{
		    u{
		        background-position: -2.65rem -3.8rem;
		    }
		}
		.refunds{
		    u{
		        background-position: -1.76rem -3.8rem;
		    }
		}
	}
	.line{
		display: block;
		border:none;
		margin:0;
		border-bottom:$bodyCol 0.27rem solid;
	}
	.wl-bar{
		position: relative;
		z-index: 5;
		padding:0.32rem;
		border-bottom: $leCole 1px solid;
		a{
			color: $mainCol;
		}
		h2{
			font-size: 0.32rem;
			font-weight: bold;
			margin-bottom: 0.1rem;
		}
		p{
			font-size: 0.32rem;
			color: $redCol;
			margin-bottom: 0.2rem;
		}
		i{
			font-size: 0.27rem;
			color: $leCol9;
		}
		.arrow-icon{
			width: 0.13rem;
			height: 0.29rem;
			position: absolute;
			right: 0.32rem;
			top: 50%;
			margin-top: -0.14rem;
			background-position: -1.81rem -0.88rem;
		}
	}	
	.goods-show{
		background:none!important;
		border-bottom:$bodyCol 0.27rem solid;
	}	
	.order-info-list{
		line-height: 1.9;
		font-size:0.27rem;
		padding:0.32rem;
	}
	.footer-action{
		text-align: right;
		padding:0.32rem;
		border-top:$bodyCol 0.27rem solid;
		span{
			display: inline-block;
			margin-left:0.2rem;
		}
	}
}
.price-list{
	border-bottom:$bodyCol 0.27rem solid;
	li{
		font-size: 0.32rem;
		position: relative;
		z-index: 5;
		padding:0.32rem;
		border-bottom:$leCole 1px solid;
		&:last-child{
			border-bottom:none;
		}
		&:after{
			content: "";
			display: block;
			clear: both;
			font-size: 0;
		}
		span{
			display: inline-block;
			em{
				color: #9e9e9e;
			}
		}
		i{
			position: absolute;
			right: 0.32rem;
			top: 50%;
			margin-top: -0.17rem;
			&.red-txt{
				color: $redCol;
			}
		}
	}
}
.user-info{
	padding:0.32rem;
	border-bottom:$bodyCol 0.27rem solid;
	position: relative;
	z-index: 5;
	.car-icon{
		display: inline-block;
		vertical-align: middle;
		margin-right: 0.32rem;
		// position: absolute;
		// left: 0.32rem;
		// top: 50%;
		// margin-top: -0.24rem;
		width: 0.59rem;
		height: 0.48rem;
		background-position:-3.31rem -1.23rem;
	}
	label{
		display: inline-block;
		vertical-align: middle;
		font-size: 0.37rem;
		// padding-left:0.92rem;
		width: 8.26rem;
		h2{
			display: inline-block;
			float: left;
		}
		i{
			display: inline-block;
			float: right;
		}
		p{
			display: block;
			clear: both;
			padding-top:0.25rem;
		}
	}
}

